h1 {
    text-align: center;
    margin-bottom: 4rem;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0; 
    padding: 0; 
    gap:3rem;
}

li {
    flex: 20%;

    @media (max-width: 1024px) {
        flex: 35%;
    } 

    @media (max-width: 768px) {
        flex: 100%;
    } 
}

a {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    text-decoration: none;
    color: #0372b3;
    font-weight: bold;
    margin-top: 1rem;
    align-items: center;
}

.img-container {
    height: 120px; 
    overflow: hidden;   
}

img {
    border: 1px solid #ddd; 
    border-radius: 4px;
    padding: 5px;
    width: 200px;
    height: auto;
}

p {
    text-align: center;
}

